.Bélgica{
    display: flex;
    flex-direction: column;

}

.col1{
   width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white

}

.col2{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: blue;

}

.col3{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: red;

}