body{

    display: flex;
    flex-direction: column;

}

.em_cima{
    height: 100vh;
    background-color: rgb(96, 241, 96);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 370px;


}

.em_baixo{

    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 370px;

}

.A1{
    background-color: blue; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 370px;
}




